.navigation {
    list-style-type: none;
    display: flex;
    color: $color-dark-main;
    @include font ($size: 1.5rem, $height: 2.4rem);
}
.navigation__item {
    // color: $color-dark-light;
    position: relative;
    // @extend %cursor-hover;

    &:not(:last-child) {
        margin-right: 35px;
    }
}

.navigation__list {
    color: $color-dark-main;
    text-decoration: none;
}

.navigation__item_active {
    color: $color-text-button;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $color-primary;
        top: 25px;
        transition: width .5s;
    }
}

.navigation__item_disabled {
    pointer-events: none;
}
