.help {
    padding: 80px 0 100px 0;
    background-color: $color-light;
}

.help__title {
    max-width: 310px;
    margin: 0 auto;
    text-align: center;
}

.help__items {
    padding: 60px 127px 0 127px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-start;
    column-gap: 120px;
    row-gap: 55px;
    // padding: 60px;
    @include media-tablet {
        padding: 60px 68px 0 68px;
        column-gap: 60px;
        // justify-content: space-between;
    }
}

.help__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include media-tablet {
        width: 170px;
    }
}

// .help__icon {
//     display: block;
//     margin: 0 auto;
// }

.help__description {
    margin-top: 30px;
    @extend %font-add;
    @include font($size: 2rem, $height: 2.2rem);
    letter-spacing: 1px;
    // text-align: center;
}