.in-addition {
    padding: 80px 0 100px 0;
    background-color: $color-background-light;
}
.in-addition__wrapper {
    // padding: 0 182px;
    display: flex;
    justify-content: center;
    @include media-tablet {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
}
.in-addition__img {
    padding: 11px 30px 10px 0;
    max-width: 505px;
    @include media-tablet {
        padding: 60px 0 0 0;
    }
}

.in-addition__content {
    max-width: 380px;
}

.in-addition__header {
    margin-right: 80px;
}

.in-addition__text {
    margin-top: 20px;
    @extend %font-add;
    @include font($size: 1.5rem, $height: 1.7rem);
    color: $color-dark-main;
    letter-spacing: 1px;
}

.in-addition__card {
    margin: 20px 31px 0 0;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    border-radius: 9px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: transform .5s;
    &:hover {
        transform: scale(1.1);
    }
    span {
        @extend %font-add;
        @include font($size: 2rem, $height: 2.3rem);
        color: $color-dark-main;
    }

}

.in-addition__description {
    margin-top: 20px;
    @include font($size: 1.2rem, $height: 1.8rem, $style: italic);
    color: $color-dark-text;
}
