.navigation {
    list-style-type: none;
    display: flex;
    // color: $color-dark-light;
    transition: all 1s;
    @include font ($size: 1.5rem, $height: 2.4rem);
    @include media-tablet-small {
        // display: none;
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        width: 320px;
        background-color: $color-text-button;
        height: 100vh;
        @include font ($size: 3.2rem, $height: 5.1rem);
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
    //     // transition: all 2s;

        &_active {
            // transition: all s;
            right: 0;
            opacity: 1;
            visibility:visible;
        }
    }
}

.navigation__wrapper {
    position: relative;
}


.navigation__item {
    // color: $color-dark-light;
    // position: relative;
    // @extend %cursor-hover;

    &:not(:last-child) {
        margin-right: 35px;
    }
    @include media-tablet-small {

        &:not(:last-child) {
           margin: 0;
           margin-bottom: 40px;
        }

    }
}

.navigation__list {
    position: relative;
    color: $color-dark-light;
    text-decoration: none;
}

.navigation__item_active {
    color: $color-active;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $color-primary;
        top: 25px;
        transition: width .5s;
    }
    @include media-tablet-small {
        &::before {
            top: 35px;
        }
    }
}

.navigation__item_disabled {
    pointer-events: none;
}

.navigation__overlay {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: 1;
}

