.not-only {
    padding-top: 90px;
    @include media-tablet {
        padding-top: 60px;
    }
}
.not-only__wrapper {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    @include media-laptop {
        padding: 0 30px;
        justify-content: center;
    }
    @include media-tablet{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

.not-only__content {
    padding-top: 163px;
    max-width: 460px;
    @include media-laptop {
        padding: 0;
    }
    @include media-tablet {
        margin: 0 auto;
    }
}

.not-only__title {
    color: $color-light;
    @extend %font-add;
    @include font($size: 4.4rem, $height: 5.7rem);
}

.not-only__text {
    margin-top: 42px;
    color: $color-dark-light;
    @include font($size: 1.5rem, $height: 2.4rem);
}

.not-only__button {
    margin-top: 42px;
    @include media-tablet {
        text-align: center;
    }
}

.not-only__image {
    max-width: 698px;
    @include media-tablet {
        padding-top: 100px;
    }
    @include media-tablet {
        max-width: 569px;
    }
}