.slider {
    display: flex;
    padding: 60px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.slider__wrapper {
    padding: 0 53px;
    column-gap: 90px;   
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between; 
}

.slider__item {
    background-color: $color-active;    
    border-radius: 9px;
}

.slider__img-pet {
    background-color: red;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.slider__name-pet {
    @extend %font-add;
    @include font($size: 2rem, $height: 2rem);
    color: $color-dark-main;
    text-align: center;
    margin-top: 30px;
}

.slider__button {
    padding: 15px 45px;
    display: block;
    margin: 30px auto;
}

.our-friends__button {
    display: block;
    margin: 0 auto;
}

