$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-main: #545454;
$color-dark-additional: #4C4C4C;
$color-dark-light: #CDCDCD;
$color-dark-text: #B2B2B2;
$color-text-button: #292929;

$color-background-light: #F6F6F6;

$color-active: #FAFAFA;
$color-light:#FFFFFF;



$laptop-width: 1240px;
$tablet-width: 992px;
$tablet-width-small: 768px;
$mobile-width: 320px;

