html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    cursor: url("../../../assets/icons/cursors/cursor.svg"), auto;
}

h2 {
    @extend %font-add;
    @include font($size: 3.5rem, $height: 4.5rem);
    letter-spacing: 2px;
    color: $color-dark-main;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

