.button {
    display: inline-block;
    padding: 15px 45px;
    color: $color-text-button;
    border-radius: 100px;
    @extend %font-add;
    @include font($size: 1.7rem, $height: 2rem);
    background-color: $color-active;
    border: 2px solid $color-primary;
    letter-spacing: 1px;
    @extend %cursor-hover;
    text-decoration: none;
    &_colored {
        background-color: $color-primary;
        border: 2px solid $color-primary;
    }
    &_hover {
        // border: 2px solid $color-primary-light;
        transition: background-color .5s, border .5s;
        &:hover{
            border: 2px solid $color-primary-light;
            background-color: $color-primary-light;
        }
    }
}

.round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0;
    width: 52px;
    height: 52px;
}

.prev-button {
    margin-left: 35px;
}
.next-button {
    margin-right: 35px;
}

