.footer {
    padding-top: 40px;
    @include media-tablet {
        padding-top: 30px;
    }
}
.footer__wrapper {
    display: flex;
    padding: 0 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-tablet {
        padding: 0 64px;
    }
}

.footer__contacts {
    max-width: 278px;
}
.footer__address {
    max-width: 302px;
}

.footer__address .footer__links li a{
    margin-top: 34px;
}

.footer__title {
    margin-top: 16px;
    @extend %font-add;
    @include font($size: 3.5rem, $height: 4.5rem);
    letter-spacing: 2px;
    color: $color-light;
    @include media-tablet {
        margin: 0;
    }
}

.footer__links {
    list-style-type: none;
    @extend %font-add;
    @include font($size: 2rem, $height: 2.3rem);

    letter-spacing: 1px;
    // li {
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     margin-top: 43px;
    // }
}

.footer__icon {
    margin-right: 20px;
}

.footer__link {
    position: relative;
    display: flex;
    margin-top: 43px;
    text-decoration: none;
    color: $color-primary;
    transition: transform .5s;
    align-items: center;
    &:hover {
        transform: scale(1.1);
    }
}

.footer__img {
   @include media-tablet {
        margin: 0 auto;
        margin-top: 65px;
   }
}
